.box1{
    width:auto;
    height: 740px;
    background-image: url(../images/james.jpg)
}
.box2{
    width:auto;
    height: 740px;
    background-image:url(../images/kobe.jpg)
}
.button{
    border-style: solid;
    background-color:blueviolet;
    border-color: brown;
    font-size: 30px;
}
h1{
    text-align:right;
    color: forestgreen;
}
.box3{
    border: 10px double red;
}
.s{
    color:darkgreen;
    font-size:25px;
}